In [20]:
import pandas as pd
from glob import glob

# Script instructions
print('\n\nAqui será feito a extracao do relatório semanal.')
print('Por favor, digite a data conforme a o modelo a seguir de ano, mês e dia:--> 20210108')
print('E a semana conforme o exemplo a seguir:--> Semana 2\n')

date_min = int(input('Digite a data que inicia a semana: '))
date_max = int(input('Digite a data que encerra a semana: '))
week_number = input('Qual seria a semana: ')

# Catching all files in the path. After that, all sort all the files in a list
files = sorted(glob(r'../concat_report/base/*.csv'))

# Separating them in lf and assinante and anonimo
files_logados_free = []
files_assinantes = []

for file in files:
    if 'Free' in file:
        files_logados_free.append(file)
    else:
        files_assinantes.append(file)
        
# Reading all the files and concating them in a dataframe
df_a = pd.concat(pd.read_csv(file, engine = 'python') for file in files_assinantes)
df_lf = pd.concat(pd.read_csv(file, engine = 'python') for file in files_logados_free)

df_a['tipo_de_consumo'] = ['Aberto' if tipo_conteudo.lower() == 'aberto' else 'Fechado' for tipo_conteudo in df_a['Video - Fechado/Aberto']]

df_lf['tipo_de_consumo'] = ['Aberto' if tipo_conteudo.lower() == 'aberto' else 'Logado Free' for tipo_conteudo in df_lf['Video - Fechado/Aberto']]

# Creating the main dataframe
df = pd.concat([df_a, df_lf])
df['semana'] = week_number
# Filtering the data
week_filter = (df['Data'] >= date_min) & (df['Data'] <= date_max)
df = df.loc[week_filter]

df['horas_consumidas'] = df['Video Playtime'] / 3600

# Creating the column to classify the type of consumption
df['Tipo de Consumo'] = \
['Live' if tipo_video.lower() == 'live' else\
'VOD Aberto' if tipo_consumo == 'Aberto' else\
'VOD Fechado' if tipo_consumo == 'Fechado' else\
'VOD Logado Free' if tipo_consumo == 'Logado Free' else\
'null'\
for tipo_video, tipo_consumo in zip(df['Video - Tipo de video'], df['tipo_de_consumo'])]

df_final = pd.DataFrame(df.groupby(['Video - ID do programa', 'Tipo de Consumo', 'semana'])['horas_consumidas', 'Video Start'].sum()).reset_index()

# Adding a start and end date to the report.
def date_format(date):
    date = str(date)
    return date[-2:] + '/' + date[4:6] + '/' + date[:4]

df_final['comeco_fim_semana'] = date_format(date_min) + ' - ' + date_format(date_max)


df_name = '../base_semanal/' + week_number + '.csv'
 
#df_final.to_csv(df_name)

Aqui será feito a extracao do relatório semanal.
Por favor, digite a data conforme a o modelo a seguir de ano, mês e dia:--> 20210108
E a semana conforme o exemplo a seguir:--> Semana 2

Digite a data que inicia a semana: 20201228
Digite a data que encerra a semana: 20210103
Qual seria a semana: Semana 1

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:53: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

In [2]:
import pandas as pd
from glob import glob

files = glob(r'../concat_report/base/*.csv')
files

['../concat_report/base/202102 202103 - Relatório Diário de Consumo - Logado Free 0201 - 0309.csv',
 '../concat_report/base/202104 - Relatório Diário de Consumo - Assinante e Anonimo d6.csv',
 '../concat_report/base/202102 202103 - Relatório Diário de Consumo - Assinante e Anonimo 0201 - 0309.csv',
 '../concat_report/base/202103 - Relatório Diário de Consumo - Assinante e Anonimo - d28.csv',
 '../concat_report/base/202103 - Relatório Diário de Consumo - Logado Free - d10 - d23.csv',
 '../concat_report/base/202103 - Relatório Diário de Consumo - Assinante e Anonimo - d29.csv',
 '../concat_report/base/202104 - Relatório Diário de Consumo - Assinante e Anonimo d5.csv',
 '../concat_report/base/202103 - Relatório Diário de Consumo - Logado Free - d24.csv',
 '../concat_report/base/202103 - Relatório Diário de Consumo - Logado Free - d30.csv',
 '../concat_report/base/202104 - Relatório Diário de Consumo - Assinante e Anonimo.csv',
 '../concat_report/base/202103 - Relatório Diário de Consumo - Logado Free - d31.csv',
 '../concat_report/base/202103 - Relatório Diário de Consumo - Logado Free - d25.csv',
 '../concat_report/base/202103 - Relatório Diário de Consumo - Assinante e Anonimo - d26 d27.csv',
 '../concat_report/base/202101 - Relatório Diário de Consumo - Logado Free.csv',
 '../concat_report/base/202104 - Relatório Diário de Consumo - Logado Free.csv',
 '../concat_report/base/202103 - Relatório Diário de Consumo - Logado Free - d26 d27.csv',
 '../concat_report/base/202012 - Relatório Diário de Consumo - Assinante e Anonimo.csv',
 '../concat_report/base/202103 - Relatório Diário de Consumo - Logado Free - d28.csv',
 '../concat_report/base/202104 - Relatório Diário de Consumo - Logado Free d5.csv',
 '../concat_report/base/202103 - Relatório Diário de Consumo - Assinante e Anonimo - d10 - d23.csv',
 '../concat_report/base/202103 - Relatório Diário de Consumo - Logado Free - d29.csv',
 '../concat_report/base/202104 - Relatório Diário de Consumo - Logado Free d6.csv',
 '../concat_report/base/202101 - Relatório Diário de Consumo - Assinante e Anonimo.csv',
 '../concat_report/base/202103 - Relatório Diário de Consumo - Assinante e Anonimo - d24.csv',
 '../concat_report/base/202103 - Relatório Diário de Consumo - Assinante e Anonimo - d30.csv',
 '../concat_report/base/202012 - Relatório Diário de Consumo - Logado Free.csv',
 '../concat_report/base/202103 - Relatório Diário de Consumo - Assinante e Anonimo - d31.csv',
 '../concat_report/base/202103 - Relatório Diário de Consumo - Assinante e Anonimo - d25.csv']

In [3]:
lf = []
aa = []

for file in files:
    if 'Free' in file:
        lf.append(file)
    else:
        aa.append(file)

In [4]:
lf

['../concat_report/base/202102 202103 - Relatório Diário de Consumo - Logado Free 0201 - 0309.csv',
 '../concat_report/base/202103 - Relatório Diário de Consumo - Logado Free - d10 - d23.csv',
 '../concat_report/base/202103 - Relatório Diário de Consumo - Logado Free - d24.csv',
 '../concat_report/base/202103 - Relatório Diário de Consumo - Logado Free - d30.csv',
 '../concat_report/base/202103 - Relatório Diário de Consumo - Logado Free - d31.csv',
 '../concat_report/base/202103 - Relatório Diário de Consumo - Logado Free - d25.csv',
 '../concat_report/base/202101 - Relatório Diário de Consumo - Logado Free.csv',
 '../concat_report/base/202104 - Relatório Diário de Consumo - Logado Free.csv',
 '../concat_report/base/202103 - Relatório Diário de Consumo - Logado Free - d26 d27.csv',
 '../concat_report/base/202103 - Relatório Diário de Consumo - Logado Free - d28.csv',
 '../concat_report/base/202104 - Relatório Diário de Consumo - Logado Free d5.csv',
 '../concat_report/base/202103 - Relatório Diário de Consumo - Logado Free - d29.csv',
 '../concat_report/base/202104 - Relatório Diário de Consumo - Logado Free d6.csv',
 '../concat_report/base/202012 - Relatório Diário de Consumo - Logado Free.csv']

In [5]:
aa

['../concat_report/base/202104 - Relatório Diário de Consumo - Assinante e Anonimo d6.csv',
 '../concat_report/base/202102 202103 - Relatório Diário de Consumo - Assinante e Anonimo 0201 - 0309.csv',
 '../concat_report/base/202103 - Relatório Diário de Consumo - Assinante e Anonimo - d28.csv',
 '../concat_report/base/202103 - Relatório Diário de Consumo - Assinante e Anonimo - d29.csv',
 '../concat_report/base/202104 - Relatório Diário de Consumo - Assinante e Anonimo d5.csv',
 '../concat_report/base/202104 - Relatório Diário de Consumo - Assinante e Anonimo.csv',
 '../concat_report/base/202103 - Relatório Diário de Consumo - Assinante e Anonimo - d26 d27.csv',
 '../concat_report/base/202012 - Relatório Diário de Consumo - Assinante e Anonimo.csv',
 '../concat_report/base/202103 - Relatório Diário de Consumo - Assinante e Anonimo - d10 - d23.csv',
 '../concat_report/base/202101 - Relatório Diário de Consumo - Assinante e Anonimo.csv',
 '../concat_report/base/202103 - Relatório Diário de Consumo - Assinante e Anonimo - d24.csv',
 '../concat_report/base/202103 - Relatório Diário de Consumo - Assinante e Anonimo - d30.csv',
 '../concat_report/base/202103 - Relatório Diário de Consumo - Assinante e Anonimo - d31.csv',
 '../concat_report/base/202103 - Relatório Diário de Consumo - Assinante e Anonimo - d25.csv']

28
14
14

In [9]:
df_final

,Video - ID do programa,Tipo de Consumo,semana,horas_consumidas,Video Start,comeco_fim_semana
0,810,VOD Aberto,Semana 1,1791.691944,104113,1970-01-01 00:00:00.020201228-1970-01-01 00:00...
1,810,VOD Logado Free,Semana 1,7575.233611,19889,1970-01-01 00:00:00.020201228-1970-01-01 00:00...
2,811,VOD Aberto,Semana 1,764.870556,26767,1970-01-01 00:00:00.020201228-1970-01-01 00:00...
3,811,VOD Logado Free,Semana 1,1758.276389,6009,1970-01-01 00:00:00.020201228-1970-01-01 00:00...
4,812,VOD Aberto,Semana 1,2682.843333,82671,1970-01-01 00:00:00.020201228-1970-01-01 00:00...
...,...,...,...,...,...,...
2256,13350,VOD Logado Free,Semana 1,59.289167,320,1970-01-01 00:00:00.020201228-1970-01-01 00:00...
2257,13352,VOD Aberto,Semana 1,17.306389,112,1970-01-01 00:00:00.020201228-1970-01-01 00:00...
2258,13360,VOD Aberto,Semana 1,202.889167,9416,1970-01-01 00:00:00.020201228-1970-01-01 00:00...
2259,13360,VOD Fechado,Semana 1,165156.707500,423474,1970-01-01 00:00:00.020201228-1970-01-01 00:00...
2260,13361,VOD Fechado,Semana 1,48714.881389,119189,1970-01-01 00:00:00.020201228-1970-01-01 00:00...

In [10]:
df_final['horas_consumidas'].sum()

22168462.645277776

In [22]:
pd.options.display.float_format = '{:,.2f}'.format
df_final.groupby('Tipo de Consumo')['horas_consumidas', 'Video Start'].sum()

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

                 horas_consumidas  Video Start
Tipo de Consumo
Live                 5,162,487.72      7831244
VOD Aberto             225,590.83      5834405
VOD Fechado         15,676,323.98     39799213
VOD Logado Free      1,104,060.12      3529970

In [13]:
date_min

20201228

In [16]:

def date_format(date):
    return date[-2:] + '/' + date[4:6] + '/' + date[:4]

'28'

In [19]:
dmin = str(date_min)
dmax = str(date_max)

date[-2:] + '/' + date[4:6] + '/' + date[:4]

'28/12/2020'

In [21]:
df_final

,Video - ID do programa,Tipo de Consumo,semana,horas_consumidas,Video Start,comeco_fim_semana
0,810,VOD Aberto,Semana 1,"1,791.69",104113,28/12/2020 - 03/01/2021
1,810,VOD Logado Free,Semana 1,"7,575.23",19889,28/12/2020 - 03/01/2021
2,811,VOD Aberto,Semana 1,764.87,26767,28/12/2020 - 03/01/2021
3,811,VOD Logado Free,Semana 1,"1,758.28",6009,28/12/2020 - 03/01/2021
4,812,VOD Aberto,Semana 1,"2,682.84",82671,28/12/2020 - 03/01/2021
...,...,...,...,...,...,...
2256,13350,VOD Logado Free,Semana 1,59.29,320,28/12/2020 - 03/01/2021
2257,13352,VOD Aberto,Semana 1,17.31,112,28/12/2020 - 03/01/2021
2258,13360,VOD Aberto,Semana 1,202.89,9416,28/12/2020 - 03/01/2021
2259,13360,VOD Fechado,Semana 1,"165,156.71",423474,28/12/2020 - 03/01/2021
2260,13361,VOD Fechado,Semana 1,"48,714.88",119189,28/12/2020 - 03/01/2021